</div>
</div>
</section>
<!-- javascripts -->
<script src="/js/jquery.js"></script>
<script src="/js/jquery-1.8.3.min.js"></script> -->
<script type="text/javascript" src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<!-- bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- 侧栏 -->
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/jquery.nicescroll.js" type="text/javascript"></script>

<!-- jQuery full calendar -->
<script src="/js/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
<script src="/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>


<!-- 侧栏下拉特效 -->
<script src="/js/scripts.js"></script>


</body>
</html>
