<% include header%>
<div class='container '>
    <div class='admin_index'>
        <!-- <div class='col-md-10'> -->
    <div class="jumbotron">
    <h1>欢迎访问音乐后台管理系统</h1>
    <p>...</p>
    <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div></div>
</div>
<% include footer%>