<% include ../admin/header %>
<h1>测试页面</h1>
<ul class="breadcrumb">
    <li>
        <a href="/text/textAdd">添加管理员</a>

        <a href="/text/code">验证码</a>
    </li>
    
</ul>

   



<% include ../admin/footer %>